
.api-section-name {
  margin-bottom: 3rem;
  border-bottom: 5px solid var(--thematic-break-color);
  padding-bottom: 0.25rem;
}

.api-description__header {
  .h2();
}

.api-entry {

  & + .api-entry {
    margin-top: 3rem;
    border-top: 5px solid var(--thematic-break-color);
    padding-top: 3rem;

    .api-entry__name {
      margin-top: 0;
    }
  }

  & + .api-section-name {
    margin-top:  3rem;
    padding-top: 3rem;
  }

  &__source-link {
    .octicon(file-code);
    padding-left: 0.5ch;
  }

  &__name {
    padding-top: 0;

    a {
      font-family: Menlo, Consolas, 'Bitstream Vera Sans Mono', monospace;
      font-size: 1.5rem;
      font-style: normal;
      letter-spacing: initial;
      text-decoration: none;
      color: var(--api-entry-name-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__argument {
    color: var(--api-argument-color);
  }

  &__summary {
    &:last-child {
      &,
      & > :last-child {
        margin-bottom: 0;
      }
    }
  }
}


span.optional {
  display: inline-block;

  margin-right: 4px;
  border: 1px solid var(--code-border);
  border-radius: 4px;
  padding: 2px;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 90%;
  line-height: 100%;
}

table.api-arguments {
  border-collapse: collapse;
  font-size: 1.5rem;

  th, td {
    padding: 0.5rem 1.5rem;
  }

  td {
    vertical-align: baseline;
    contain: paint;

    code {
      margin: 0;
    }

    p {
      margin: 0;
    }

    span.optional {
      float: left;
      margin-top: 2px;
    }
  }

  th:first-of-type,
  td:first-of-type {
    padding-left: 0;

    code {
      font-size: 85%;
    }
  }

  td:last-of-type {
    padding-right: 0;
  }

  tr.arguments__row--depth-1 {
    td:first-of-type {
      padding-left: 1.5rem;
    }
  }

  tr.arguments__row--depth-2 {
    td:first-of-type {
      padding-left: 3.0rem;
    }
  }

  tr.arguments__row--depth-3 {
    td:first-of-type {
      padding-left: 4.5rem;
    }
  }
}

.api-return-values {
  h6 {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--table-border);
    padding: 0.5rem 0;

    font-weight: 700;
    font-size: 1.5rem;
  }

  &__content {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;

    & > li,
    & > li > :last-child {
      margin-bottom: 0;
    }
  }
}
