
body[data-layout="home"] {
  section.header {
    // Box Model
    padding-top: 2rem;
  }
}

.header {
  &__description {
    // Typography
    font-size: 25px;
    line-height: 34px;
  }
}

.logo {
  // Position & Layout
  float: right;
  // Box Model
  width: 15%;

  img {
    // Box Model
    max-width: 100%;
  }
}
