
// Sidebar
.sidebar {
  border: 1px solid var(--sidebar-border);
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  min-height: 50vh;
  max-height: 100vh;
  flex-direction: column;
  width: 15%;
  margin-right: 5%;
}

.sidebar_contents {
  padding: 10px;
}
