
// Sidebar
.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  min-height: 50vh;
  max-height: 100vh;
  flex-direction: column;
  width: 15%;
  min-width: 250px;

  // Margin-top matches the height of the heading plus its padding — so that
  // the sidebar and the main content area are aligned.
  margin-top: 5.5rem;
  overflow: auto;
}

.sidebar_contents {
  padding: 1.5rem 0;
  max-height: 100%;
}

.sidebar_contents ul {
  list-style: none;
}

// Attempt to replicate the outline style that we've got on the main Pulsar
// site.
.sidebar_contents ul li {
  border-left: 2px solid var(--sidebar-border);
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  margin: 0;

  a {
    color: var(--link-color-subtle);
  }

  &.active {
    border-color: var(--link-color);
    a {
      color: var(--link-color);
    }
  }
}
