
.syntax-highlighting() {

  .comment {
    color: var(--syntax__comment);
  }

  .function {
    color: var(--syntax__function);
  }

  .string,
  .attr-value {
    color: var(--syntax__string);
    .attr-equals {
      color: var(--syntax__keyword);
    }
  }

  .variable {
    color: var(--syntax__variable);
  }

  .parameter {
    color: var(--syntax__variable);
  }

  .number,
  .selector,
  .property,
  .attr-name,
  .constant {
    color: var(--syntax__constant);
  }

  .keyword,
  .operator {
    color: var(--syntax__keyword);
  }

  .tag,
  .doctype-tag {
    color: var(--syntax__variable);
    .punctuation {
      color: var(--font__color);
    }
  }

}

pre code {
  .syntax-highlighting();
}
