/*
  The variable naming roughly follows the order of [BEM](https://getbem.com/naming/).
  But not the syntax. Each element is only delimited by a `-`.
  Keep in mind a multi-word block/element/modifier is also delimited by a `-`.
  Leaving our naming convention to be:
  `--<block>-<element>-<modifier>`

  Recognized shorthand:
    * bg = background-color
    * border = border-color
    * btn = button
*/

.light-mode() {
  --svg-logo: url(/static/logo-name-navbar-light.svg);

  // Global Page Elements
  --body-color: white;
  --font-color: hsl(211, 29%, 32%);
  --font-color-subtle: hsl(211, 0%, 56%);

  // Generic Page Elements

  // - links
  --link-color: hsl(153, 48%, 46%);
  --link-color-hover: hsl(153, 48%, 36%);

  --link-color-subtle: hsl(153, 0%, 46%);

  // - code blocks
  --code-bg: hsl(0, 0%, 100%);
  --code-border: hsl(130, 1%, 86%);

  // - thematic break
  --thematic-break-color: hsl(230, 1%, 92%);

  // - tables
  --table-border: hsl(230, 1%, 92%);

  // `kbd` elements
  --kbd-border: hsl(230, 1%, 66%);

  // Buttons
  --btn-color: hsl(130, 1%, 26%);
  --btn-border: hsl(230, 1%, 86%);
  --btn-bg: hsl(0, 0%, 100%);

  --btn-color-hover: hsl(230, 1%, 14%);
  --btn-border-hover: hsl(230, 1%, 866%);
  --btn-bg-hover: hsl(0, 0%, 96%);

  --btn-color-focus: hsl(230, 1%, 26%);
  --btn-border-focus: #556de8;
  --btn-bg-focus: hsl(0, 0%, 96%);

  --btn-color-primary: white;
  --btn-bg-primary: #5871ef;
  --btn-border-primary: hsl(230, 1%, 86%);

  --btn-color-primary-hover: white;
  --btn-bg-primary-hover: #5871ef;
  --btn-border-primary-hover: hsl(230, 1%, 86%);

  --btn-color-primary-focus: white;
  --btn-bg-primary-focus: #5871ef;
  --btn-border-primary-focus: transparent;

  // Inputs

  // - input buttons
  --input-btn-color: var(--btn-color);
  --input-btn-border: var(--btn-border);
  --input-btn-bg: var(--btn-bg);

  --input-btn-color-hover: var(--btn-color-hover);
  --input-btn-border-hover: var(--btn-border-hover);
  --input-btn-bg-hover: var(--btn-bg-hover);

  --input-btn-color-focus: var(--btn-color-focus);
  --input-btn-border-focus: var(--btn-border-focus);
  --input-btn-bg-focus: var(--btn-bg-focus);

  --input-btn-color-primary: var(--btn-color-primary);
  --input-btn-bg-primary: var(--btn-bg-primary);
  --input-btn-border-primary: var(--btn-border-primary);

  --input-btn-color-primary-hover: var(--btn-color-primary-hover);
  --input-btn-bg-primary-hover: var(--btn-bg-primary-hover);
  --input-btn-border-primary-hover: var(--btn-border-primary-hover);

  --input-btn-color-primary-focus: var(--btn-color-primary-focus);
  --input-btn-bg-primary-focus: var(--btn-bg-primary-focus);
  --input-btn-border-primary-focus: var(--btn-border-primary-focus);

  // - input fields
  --input-field-bg: hsl(0, 0%, 100%);
  --input-field-border: hsl(230, 1%, 86%);

  --input-field-border-focus: #556de8;

  // - textareas
  --textarea-bg: var(--input-field-bg);
  --textarea-border: var(--input-field-border);

  --textarea-border-focus: var(--input-field-border-focus);

  // Tab Headers
  --tab-header-bg: transparent; //hsl(230, 1%, 92%);
  --tab-header-box-shadow: hsl(230deg 1% 86%);

  --tab-btn-color: hsl(230, 1%, 14%);
  --tab-btn-border: hsl(230, 1%, 86%);
  --tab-btn-bg-active: hsl(230, 1%, 96%);

  --tab-wrapper-border: hsl(230deg, 1%, 66%);
  --tab-container-bg: hsl(230, 1%, 96%);

  // Page Header
  --page-header-bg: hsla(0, 100%, 100%, 0.9);
  --page-header-border: hsl(230, 1%, 86%);
  --page-header-color-link: hsl(0, 0%, 40%);
  --page-header-box-shadow-color: rgba(0, 0, 0, .15);
  --page-header-height: 55px;

  --theme-switcher-height: 20px;

  // Alerts

  // - generic
  --alert-color-title: hsl(240, 1%, 28%);
  --alert-border: hsl(230deg, 1%, 66%);
  --alert-bg: hsl(230, 1%, 99%);
  --alert-bg-title: var(--alert-bg);
  --alert-color: var(--font-color);

  // - note
  --alert-color-title-note: hsl(230, 1%, 26%);
  --alert-color-note: var(--alert-color);
  --alert-border-note: hsl(48, 64%, 24%);
  --alert-bg-note: hsl(48, 84%, 93%);
  --alert-bg-title-note: var(--alert-bg-note);

  // - warning
  --alert-color-title-warning: hsl(44, 100%, 15%);
  --alert-color-warning: var(--alert-color);
  --alert-border-warning: hsl(37, 90%, 44%);
  --alert-bg-warning: hsl(37, 90%, 94%);
  --alert-bg-title-warning: var(--alert-bg-warning);

  // - info
  --alert-color-title-info: hsl(194, 48%, 19%);
  --alert-color-info: var(--alert-color);
  --alert-border-info: hsl(195, 61%, 56%);
  --alert-bg-info: hsl(196, 79%, 96%);
  --alert-bg-title-info: var(--alert-bg-info);

  // - tip
  --alert-color-title-tip: hsl(120, 100%, 10%);
  --alert-color-tip: var(--alert-color);
  --alert-border-tip: hsl(120, 100%, 29%);
  --alert-bg-tip: hsl(120, 47%, 93%);
  --alert-bg-title-tip: var(--alert-bg-tip);

  // - danger
  --alert-color-title-danger: hsl(358, 63%, 18%);
  --alert-color-danger: var(--alert-color);
  --alert-border-danger: hsl(358, 74%, 54%);
  --alert-bg-danger: hsl(357, 100%, 96%);
  --alert-bg-title-danger: var(--alert-bg-danger);

  // Hovercards
  --hovercard-bg: var(--body-color);
  --hovercard-box-shadow: hsla(0deg, 0%, 0%, 0.4);
  --hovercard-color: hsl(230, 1%, 26%);

  // Sidebar
  --sidebar-border: hsl(230, 1%, 86%);

  // Blocks
  --block-color: var(--btn-color);
  --block-border: var(--btn-border);
  --block-bg: var(--btn-bg);

  --block-color-hover: var(--btn-color-hover);
  --block-border-hover: var(--btn-border-hover);
  --block-bg-hover: var(--btn-bg-hover);

  // Syntax highlighting
  --syntax-string:   hsl(119, 34%, 47%);
  --syntax-comment:  hsl(230, 4%, 64%);
  --syntax-variable: hsl(  5, 74%, 59%);
  --syntax-function: hsl(221, 87%, 60%);
  --syntax-keyword:  hsl(301, 63%, 40%);
  --syntax-constant: hsl( 35, 99%, 36%);

  // Code Documentation
  --api-entry-name-color: var(--link-color);
  --api-argument-color: var(--font-color-subtle);
}

.dark-mode() {
  --svg-logo: url(/static/logo-name-navbar-dark.svg);

  // Global Page Elements
  --body-color: hsl(220, 13%, 15%);
  --font-color: hsl(220, 13%, 66%);
  --font-color-subtle: hsl(220, 0%, 66%);

  // Generic Page Elements

  // - links
  --link-color: hsl(153, 48%, 46%);
  --link-color-hover: hsl(153, 48%, 36%);

  --link-color-subtle: hsl(153, 0%, 46%);

  // - code blocks
  --code-bg: #2c313c;
  --code-border: hsl(220deg 13% 11%);

  // - thematic break
  --thematic-break-color: hsl(220, 13%, 10.8%);

  // - tables
  --table-border: hsl(220, 13%, 10.8%);

  // `kbd` elements
  --kbd-border: hsl(220, 13%, 36%);

  // Buttons
  --btn-color: hsl(220, 13%, 66%);
  --btn-border: hsl(220, 13%, 10.8%);
  --btn-bg: hsl(220, 13%, 24%);

  --btn-color-hover: hsl(220, 13%, 86%);
  --btn-border-hover: hsl(220, 13%, 10.8%);
  --btn-bg-hover: hsl(220, 13%, 26%);

  --btn-color-focus: hsl(220, 13%, 86%);
  --btn-border-focus: #568af2;
  --btn-bg-focus: hsl(220, 13%, 26%);

  --btn-color-primary: white;
  --btn-bg-primary: #4d78cc;
  --btn-border-primary: hsl(220, 13%, 10.8%);

  --btn-color-primary-hover: white;
  --btn-bg-primary-hover: #6187d2;
  --btn-border-primary-hover: hsl(220, 13%, 10.8%);

  --btn-color-primary-focus: white;
  --btn-bg-primary-focus: #6187d2;
  --btn-border-primary-focus: transparent;

  // Inputs

  // - input buttons
  --input-btn-color: var(--btn-color);
  --input-btn-border: var(--btn-border);
  --input-btn-bg: var(--btn-bg);

  --input-btn-color-hover: var(--btn-color-hover);
  --input-btn-border-hover: var(--btn-border-hover);
  --input-btn-bg-hover: var(--btn-bg-hover);

  --input-btn-color-focus: var(--btn-color-focus);
  --input-btn-border-focus: var(--btn-border-focus);
  --input-btn-bg-focus: var(--btn-bg-focus);

  --input-btn-color-primary: var(--btn-color-primary);
  --input-btn-bg-primary: var(--btn-bg-primary);
  --input-btn-border-primary: var(--btn-border-primary);

  --input-btn-color-primary-hover: var(--btn-color-primary-hover);
  --input-btn-bg-primary-hover: var(--btn-bg-primary-hover);
  --input-btn-border-primary-hover: var(--btn-border-primary-hover);

  --input-btn-color-primary-focus: var(--btn-color-primary-focus);
  --input-btn-bg-primary-focus: var(--btn-bg-primary-focus);
  --input-btn-border-primary-focus: var(--btn-border-primary-focus);

  // - input fields
  --input-field-bg: hsl(220, 13%, 12%);
  --input-field-border: hsl(220, 13%, 10.8%);

  --input-field-border-focus: #568af2;

  // - textareas
  --textarea-bg: var(--input-field-bg);
  --textarea-border: var(--input-field-border);

  --textarea-border-focus: var(--input-field-border-focus);

  // Tab Headers
  --tab-header-bg: hsl(220, 13%, 15%);
  --tab-header-box-shadow: hsl(220deg 13% 11%);

  --tab-btn-color: hsl(220, 13%, 86%);
  --tab-btn-border: hsl(220, 13%, 40.8%);
  --tab-btn-bg-active: hsl(220, 13%, 18%);

  --tab-wrapper-border: hsl(220, 13%, 40.8%);
  --tab-container-bg: hsl(220, 13%, 18%);


  // Page Header
  --page-header-bg: hsla(218, 12%, 13%, 90%);
  --page-header-border: hsl(220, 13%, 10.8%);
  --page-header-color-link: hsl(0, 0%, 60%);
  --page-header-box-shadow-color: rgba(0, 0, 0, .15);
  --page-header-height: 55px;

  --theme-switcher-height: 20px;

  // Alerts

  // - generic
  --alert-color-title: white;
  --alert-border: hsl(220, 13%, 40.8%);
  --alert-bg: hsl(220, 13%, 18%);
  --alert-color: var(--font-color);

  // - note
  --alert-color-title-note: hsl(48, 33%, 77%);
  --alert-color-note: var(--alert-color);
  --alert-border-note: hsl(48, 64%, 24%);
  --alert_bg--note: var(--alert-bg);

  // - warning
  --alert-color-title-warning: hsl(43, 100%, 95%);
  --alert-color-warning: var(--alert-color);
  --alert-border-warning: hsl(44, 100%, 45%);
  --alert-bg-warning: hsl(44, 100%, 15%);

  // - info
  --alert-color-title-info: hsl(196, 79%, 96%);
  --alert-color-info: var(--alert-color);
  --alert-border-info: hsl(195, 61%, 56%);
  --alert-bg-info: hsl(194, 48%, 19%);

  // - tip
  --alert-color-title-tip: hsl(120, 47%, 93%);
  --alert-color-tip: var(--alert-color);
  --alert-border-tip: hsl(140, 44%, 62%);
  --alert-bg-tip: hsl(140, 24%, 17%);

  // - danger
  --alert-color-title-danger: hsl(357, 100%, 96%);
  --alert-color-danger: var(--alert-color);
  --alert-border-danger: hsl(358, 74%, 54%);
  --alert-bg-danger: hsl(359, 63%, 18%);

  // Hovercards
  --hovercard-bg: #252830;
  --hovercard-box-shadow: hsl(0deg, 0%, 0%, 0.4);
  --hovercard-color: hsl(220, 13%, 66%);

  // Sidebar
  --sidebar-border: black;

  // Blocks
  --block-color: hsl(220, 13%, 66%);
  --block-border: hsl(220, 13%, 10.8%);
  --block-bg: hsl(220, 13%, 24%);

  --block-color-hover: hsl(220, 13%, 86%);
  --block-border-hover: hsl(220, 13%, 10.8%);
  --block-bg-hover: hsl(220, 13%, 26%);

  // Syntax highlighting
  --syntax-string:   hsl( 95, 38%, 62%);
  --syntax-comment:  hsl(220, 10%, 52%);
  --syntax-variable: hsl(355, 65%, 65%);
  --syntax-function: hsl(207, 82%, 66%);
  --syntax-keyword:  hsl(286, 60%, 67%);
  --syntax-constant: hsl( 29, 54%, 61%);

  // Code Documentation
  --api-entry-name-color: var(--link-color);
  --api-argument-color: var(--font-color-subtle);
}

:root {
  .dark-mode();
}

:root[data-theme="dark"] {
  .dark-mode();
}

:root[data-theme="light"] {
  .light-mode();
}
