<section class="api-return-values">
  <header><h6>Return values</h6></header>

  <ul class="api-return-values__content">
    <% for (const val of returnValues) { -%>
    <li>
      <%- mdRender(val.description) -%>
    </li>
    <% } -%>
  </ul>
</section>
