<section class="return-values">
  <header><h6>Return values</h6></header>

  <ul class="return-values-content">
    <% for (const val of returnValues) { -%>
    <li>
      <%- mdRender(val.description) -%>
    </li>
    <% } -%>
  </ul>
</section>
