<table class="return-values">
  <thead>
    <tr>
      <th>Return values</th>
    </tr>
  </thead>
  <tbody>
    <% for (const val of returnValues) { %>
      <tr>
        <td>
          <%=val.description%>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
