
<div class="blocks">

  <% for (const node of blocks) { %>
  <section class="block">
    <header class="block__header">
      <a href="<%= node.link -%>"><%= node.text -%></a>
    </header>
    <div class="block__summary">
      <%= node.summary -%>
    </div>
  </section>
  <% } %>


</div>
