<!--- The main documentation page -->
<%-include("header")%>

  <body>
    <div class="container">
      <section class="header">
        <h2 class="title"><%=title%></h2>
      </section>

      <%- content %>

    </div>
  </body>

<%-include("footer")%>
