<!DOCTYPE HTML>
<html lang="en" data-theme="">
  <head>
    <title><%= locals.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" id="meta-scheme" content="">
    <meta property="og:title" content="<%= locals.title %>">
    <link rel="shortcut icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="apple-touch-icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="apple-touch-icon-precomposed" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#55bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <script type="text/javascript">
      {
        // Populate the theme as early as possible to prevent a flash on load.
        let themeSetting = localStorage.getItem("preferred-theme");
        let theme = themeSetting;
        if (!themeSetting || themeSetting === "auto") {
          theme = (window.matchMedia("(prefers-color-scheme: light)").matches) ? "light" : "dark";
        }
        document.getElementById('meta-scheme').setAttribute("content", theme);
        document.documentElement.dataset.themeSetting = themeSetting ?? theme;
        document.documentElement.dataset.theme = theme;
      }
    </script>

    <link rel="stylesheet" href="/main.css" />

  </head>
