<header class="page_header">

  <a href="/" class="page_header__link">
    <img class="page_header__img" src="/static/logo-name-navbar-dark.svg">
  </a>

  <nav class="page_header__items">
    <a class="page_header__link" href="/api/pulsar">
      Pulsar API Docs
    </a>
    <a class="page_header__link" href="https://api.pulsar-edit.dev/swagger-ui/">
      PPR API Docs
    </a>
    <a class="page_header__link" href="https://pulsar-edit.dev">
      Pulsar Homepage
    </a>
  </nav>

  <nav class="page_header__actions">
    <div class="theme-switcher-menu">
      <button type="button">
        <span>
          <span class="icon icon-theme-os-default"></span>
          Theme
        </span>
      </button>
    </div>
  </nav>

</header>
