
<div class="sidebar sidebar--compact">
  <div class="sidebar__contents">

    <ul class="sidebar__breadcrumbs">
      <li><a href="/">Home</a></li>
      <% if (include_summary) { %>
        <li><a href="../"><%= locals.indexTitle ?? "Summary" %></a></li>
      <% } %>
    </ul>

    <% if (bar.length > 0) { -%>
    <ul class="sidebar__pages">
      <% for (const node of bar) { -%>
        <li class="sidebar__item-optional"><a href="<%= node.link %>" ><%= node.text %></a></li>
      <% } -%>
      <li class="sidebar__item-toggle">
        <a type="button" data-label-expand="Expand" data-label-collapse="Collapse" class="sidebar__button-toggle" href="#">Expand</a>
      </li>
    </ul>
    <% } -%>

  </div>

  <% if (locals.include_toc) { -%>
  <div class="sidebar__toc"></div>
  <% } -%>

</div>
