
<div class="sidebar sidebar--compact">
  <div class="sidebar__contents">

    <ul class="sidebar__breadcrumbs">
      <li><a href="/">Home</a></li>
      <% if (include_summary) { %>
        <li><a href="../"><%= locals.indexTitle ?? "Summary" %></a></li>
      <% } %>
    </ul>

  </div>

  <% if (locals.include_toc) { -%>
  <div class="sidebar__toc"></div>
  <% } -%>

</div>
