@import 'skeleton-less/less/skeleton.less';
@import 'themes.less';

// Quality of Life changes to header class from skeleton
.header {
  text-align: center;
}

// Tabs from markdown-it
.tabs-tabs-wrapper {
  .tabs-tabs-header {
    overflow-x: auto;
    margin: 0.85rem 0 1rem;
    padding: 0;
    border-radius: 6px 6px 0 0;
    background: @tab-header-background;
    list-style: none;
    white-space: nowrap;

    .tabs-tab-button {
      border-width: 0;
      position: relative;
      min-width: 3rem;
      margin: 0;
      padding: 6px 12px;
      border-radius: 6px 6px 0 0;
      background: transparent;
      color: @tab-button-color;
      font-weight: 600;
      font-size: .85rem;
      line-height: 1.4;
      cursor: pointer;
    }

    .tabs-tab-button.active {
      background: @tab-button-active-background;
    }
  }

  .tabs-tabs-container {
    .tabs-tab-content {
      display: none;
    }
    .tabs-tab-content.active {
      display: block;
    }
  }
}

// Custom containers from markdown-it
.custom-container {
  position: relative;
  margin: 1rem 0;
  padding: 0.25rem 1rem;
  border-left-width: 0.3rem;
  border-left-style: solid;
  border-radius: 0.5rem;

  .custom-container-title {
    padding-left: 1.5rem;
    color: @custom-container-title-color;
  }

  &.note {
    border-color: @custom-container-note-border;
    background: @custom-container-note-background;
  }
}

// Sidebar
.sidebar {
  border: dotted;
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  min-height: 50vh;
  max-height: 100vh;
  flex-direction: column;
  width: 15%;
  margin-right: 5%;
}

.sidebar_contents {
  padding: 10px;
}

body {
  display: flex;
  margin-left: 2%;
}

// Blocks
.blocks {

  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  display: grid;

  .block {

    border-width: 1px;
    border-radius: 0.75rem;
    width: 100%;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

    .block_inner {

      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      .block_icon {

      }

      .block_title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.5rem;
      }

      .block_summary {

      }
    }
  }
}
