---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ default.url }}/sitemap.xml
User-agent: *
User-agent: AdsBot-Google-Mobile
User-agent: AdsBot-Google
User-agent: Mediapartners-Google
Allow: /
User-agent: FriendlyCrawler
Disallow: /
